mixin defheader(dictEntry, index)
	header
		div.word-heading
			h4=dictEntry.word
			if dictEntry.audio
				- const prnId = `p${index}`
				label.button.pronunciation(for=prnId)
					if dictEntry.phonetic
						span [#{dictEntry.phonetic}]
					img(src="/assets/img/audio.svg" alt="Listen to pronunciation")
				input(type="checkbox", id=prnId)
				audio(controls, preload=none, src=dictEntry.audio)
					//a(href=dictEntry.audio)
			else if dictEntry.phonetic
				p.phonetic [#{dictEntry.phonetic}]

		if dictEntry.comment
			p(lang="en").comment=dictEntry.comment
		if dictEntry.literal
			p.literal
				b Literal translation:
				span(lang="en")=dictEntry.literal
