include definition
mixin tile(index, item)
	- const [key, entry] = item
	- const dtId = `d${index}`
	- const showerId = `s${index}`
	details(id=dtId tabindex=index)
		//- the div needs a tabindex to be focusable
		summary
			h3
				dfn(id=key)=entry.word
				| &nbsp;&nbsp;&ndash;&nbsp;&nbsp;
				span.shortdef=entry.short_translations.join("; ")
				//- actually, should the shortdef be a dd as well? It's a definition after all
			img.icon.closed(src="/img/plus-circle.svg" alt="")
			img.icon.open(src="/img/minus-circle.svg" alt="")
		dl
			dt
				+definition(entry, index)
			div.dd-container
				each translation, t_index in entry.translations
					dd
						+definition(translation, index + "." + t_index)
