include definition
mixin tile(index, item, langFrom, langTo)
	- const [key, entry] = item
	- const dtId = `d${index}`
	- const showerId = `s${index}`
	details(id=dtId tabindex=0)
		//- the div needs a tabindex to be focusable
		summary
			h3
				dfn(id=key, lang=langFrom)=entry.word
				| &nbsp;&nbsp;&ndash;&nbsp;&nbsp;
				span.shortdef(lang=langTo)=entry.short_translations.join("; ")
				//- actually, should the shortdef be a dd as well? It's a definition after all
			img.icon.closed(src="/img/plus-circle.svg" alt="")
			img.icon.open(src="/img/minus-circle.svg" alt="")
		div.dictionary-entry
			div(lang=langFrom).dictionary-entry-from
				+definition(entry, index)
			div.dictionary-entry-to-container
				each translation, t_index in entry.translations
					div(lang=langTo).dictionary-entry-to
						+definition(translation, index + "." + t_index)
